<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- 白名单IP -->
	<util:list id="whiteIpList" value-type="java.lang.String">
		<value>127.0.0.1</value>
		<!--<value>192.168.1.*</value>-->
		<!--<value>192.168.1.*-192.168.2.*</value>-->
	</util:list>
</beans>
